@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: darkgreen;
       box-sizing: border-box;
}

.topSuit {
    font-size: 80px;
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 25px;
}

.number {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 550px;
    color: black !important;
}


.botSuit {
    position: absolute;
    font-size: 80px;
    bottom: 0;
    right: 0;
    padding-right: 25px;
}
button {
    margin: auto;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 40px;
    width: 374px;
    height: 50px;
    background-color: rgb(212, 66, 66);
    font-size: 35px;

    display: block
    

}


.card {
    border: 1 solid black;
    height: 599px;
    width: 374px;
    border-radius: 5%;
    margin: auto;
    font-size: 80px;
    background: lightgray;
}

.heart {
    color: red;
}

.diamond {
    color: red;
}

.spade {
    color: black;
}

.club {
    color: black;
}

